streamlit
beautifulsoup4
requests
pymupdf
langchain
langchain-core
langchain-community
langchain-openai
chromadb
python-dotenv
openai
groq
google-generativeai
langchain-google-genai
streamlit-autorefresh
